* {
  margin: 0;
  padding: 0;
  }

  .nave
  {
    float:left;
    width: 100vw;
    height: 10vh;
    font-size: 3vh
  }
  .nave a
  {
    color:black;
    text-decoration: none;
    padding: 3vw;
  }

  .nave a:hover
  {
    color:grey;
  }

  .nave a:active
  {
    color: white;
  }
